body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg-video {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1;
   filter: blur(2px);
   transition: filter 0.3s ease;
   -webkit-transition: filter 0.3s ease;
}

#bg-video:hover {
   filter: blur(1.25px);
}

.footer {
   font-size: 12px;
   font-family: 'Roboto Mono', monospace;
   margin-top: auto;
   margin-bottom: 10px;
   opacity: 75%;
}

/******************************************************/
/******************************************************/

.bio-portfolio-contener {
   position: fixed;
   bottom: 10px;
   left: 10px;
}

.bio-button-portfolio {
   font-family: 'Roboto Mono', monospace;
   font-size: 22px;
   opacity: 55%;
   border: none;
   background-color: white;
   color: black;
   padding: 10px 20px;
   border-radius: 17px;
   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   outline: none;
   transition: opacity 0.6s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.photo-button-portfolio:hover {
   opacity: 95%;
   background-color: #f0f0f0;
}

.photo-portfolio-contener {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

.photo-button-portfolio {
   font-family: 'Roboto Mono', monospace;
   font-size: 22px;
   opacity: 55%;
   border: none;
   background-color: white;
   color: black;
   padding: 10px 20px;
   border-radius: 17px;
   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   outline: none;
   transition: opacity 0.6s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.photo-button-portfolio:hover {
   opacity: 95%;
   background-color: #f0f0f0;
}